text {
  font: 300 16px "Helvetica Neue";
}

rect {
  fill: #fff;
}

.node > rect {
  stroke-width: 3px;
  stroke: #333;
  fill: none;
}

.node:hover {
  cursor: pointer;
  opacity: 0.4;
}

.edge rect {
  fill: #fff
}

.edge path {
  fill: none;
  stroke: #333;
  stroke-width: 1.5px;
}

.edge:hover {
  cursor: pointer;
  opacity: 0.4;
}

.cp {
  opacity: 0;
}

.cp:hover {
  cursor:pointer;
  opacity: 1;
}


h1, h2 {
  color: #333;
}

textarea {
  width: 800px;
}

label {
  margin-top: 1em;
  display: block;
}

.error {
  color: red;
}

svg {
  border: 1px solid #999;
}
